@model List<UserVM>
@{
    Layout = "_Layout";
    ViewData["Title"] = "all users";
}

<div class="container">
    <div class="row row-cols-1 row-cols-md-1 g-4">
        @for (int i = 0; i < Model.Count; i++)
        {
            var user = Model[i];
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@user.Email</h5>
                        <p class="card-text">
                            this user has created @user.LinkCount links
                            with a total of @user.TotalClicks clicks.
                        </p>

                        <p class="d-inline-flex gap-1">
                            <a class="btn btn-primary" data-bs-toggle="collapse"
                               href="#collapseExample@i" role="button">
                                show details
                            </a>
                        </p>

                        <div class="collapse" id="collapseExample@i">
                            <div class="card card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Original Link</th>
                                            <th>Shortlink</th>
                                            <th>No. of Clicks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var link in user.Urls ?? new List<UrlVM>())
                                        {
                                            <tr>
                                                <td>@link.LongUrl</td>
                                                <td>@link.ShortUrl</td>
                                                <td>@link.TotalClicks</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            @user.LinkCount links, @user.TotalClicks clicks
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>